{% extends "base.html" %}
{% block container %}
{% load staticfiles %}


<div class="poster search-poster container-fluid">
    <div class="row">
        <div class="col-xs-12 text-left">
            <h2 class="white-text">
                <strong>Conscious consumers</strong>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="small-video-holder">
                <div class="circle text-center">
                    <span class="glyphicon glyphicon-play black-text"></span>
                </div>
            </div>
        </div>
        <div class="col-xs-offset-1 col-xs-5 white-text" id="search-instructions">
            <h3>
                <strong>
                Look up and patronize business who are supporting returning citizens.
                </strong>
            </h3>
            <br>
            <p>
                <h4>
                    Search for a business <strong class="yellow-text">by name or industry</strong>, or enter some keywords to look for business that employ <strong class="yellow-text">specific policies or practices</strong> to support re-entry.
                </h4>
            </p>
                 <p>
                <h4>
                    Have additional information for our database? <strong class="yellow-text">Leave a rating or review for an employer</strong>.
                </h4>
            </p>
            <br>
        </div>
    </div>
</div>