{% extends "base.html" %}
{% block container %}
{% load staticfiles %}


    <div class="container headlines white-text">
        <div class="row">
            <div class="col-xs-12 col-m-8"><h1><b>Fair Chance Employment</b></h1></div>
        </div>
        <div class="row">
            <div class="col-sm-6">Mission statement mission statement mission statement</div>
        </div>
    </div>

    <div class="video-wrapper">
        <video autoplay loop="loop" poster="{% static 'img/landing_wallpaper.png' %}">
            <source src="{% static 'img/landing_mov.webm' %}" type="video/webm">
        </video>
    </div>
    

    <div class="container white-text blue-bg search-splash">
        <div class="row">
            <div class="col-xs-12 text-center"><h1><b>Search the Database as:</b></h1></div>
        </div>
        <div class="row">
            <div class="col-xs-offset-1 col-xs-2 text-center">
                <button class="btn btn-lg light-blue-bg">
                    Job seeker
                </button>
                <div class="user-type-image"><img src="{% static 'img/women_sharing.jpg' %}"></div>
            </div>
            <div class="col-xs-offset-2 col-xs-2 text-center">
                <button class="btn btn-lg light-blue-bg">
                    Employer
                </button>
                <div class="user-type-image"><img src="{% static 'img/man_smiling.jpg' %}"></div>
            </div>
            <div class="col-xs-offset-2 col-xs-2 text-center">
                <button class="btn btn-lg light-blue-bg">
                    Conscious consumer
                </button>
                <div class="user-type-image"><img src="{% static 'img/businessman.jpg' %}"></div>
            </div>
        </div>
    </div>


</div>

{% endblock %}