{% extends "base.html" %}
{% block container %}
{% load staticfiles %}


<div class="poster search-poster container-fluid">
    <div class="row">
        <div class="col-xs-12 text-left">
            <h2 class="white-text">
                <strong>Searching the Fair Chance Employer Database</strong>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="small-video-holder">
                <div class="circle text-center">
                    <span class="glyphicon glyphicon-play black-text"></span>
                </div>
            </div>
        </div>
        <div class="col-xs-offset-1 col-xs-5 white-text" id="search-instructions">
            <h3>
                <strong>
                Search our employer database for information on employment policies and practices that impact returning citizens.
                </strong>
            </h3>
            <br>
            <p>
                <h4>
                    Find an employer <strong class="yellow-text">by name or industry</strong>, or enter some keywords to look for an employer that uses <strong class="yellow-text">specific policies or practices</strong>.
                </h4>
            </p>
            <br>
            <p>
                <h4>
                    Have additional information for our database? <strong class="yellow-text">Leave a rating or review for an employer</strong>.
                </h4>
            </p>
        </div>
    </div>
</div>

<div class="search-controls blue-bg container-fluid white-text">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h3><strong>Start Searching Now</strong></h3>
        </div>
    </div>

    <div class="row search-fields">
    
        <div class="col-xs-4 search-field-set">
            <h4>Employer Name</h4>
            <div class="white-bg col-xs-12 input-holder">

                <span class="col-xs-8">
                    <input type="text" class="form-control light-grey-bg text-search-field" placeholder="&nbsp;&nbsp;&nbsp; Search">
                </span>
                <span class="blue-text execute-search-button">
                enter
                </span>
                <span class="grey-text glyphicon glyphicon-remove-sign"></span>
                <span class="grey-text glyphicon glyphicon-search"></span>
            </div>

            <h4>Your Zip Code</h4>
            <div class="white-bg col-xs-12 input-holder">

                <span class="col-xs-8">
                    <input type="text" class="form-control light-grey-bg text-search-field" placeholder="&nbsp;&nbsp;&nbsp; Search">
                </span>
                <span class="blue-text execute-search-button">
                enter
                </span>
                <span class="grey-text glyphicon glyphicon-remove-sign"></span>
                <span class="grey-text glyphicon glyphicon-search"></span>
            </div>
        </div>


        <div class="col-xs-5 search-field-set">
            <h4>Industry</h4>
            <div class="form-group col-xs-12">
                <select class="input-lg white-bg form-control" id="sel2">
                  <option>Arts & Culture</option>
                  <option>Education</option>
                  <option>Food and Entertainment</option>
                  <option>Healthcare</option>
                  <option>Retail</option>
                  <option>Service</option>
                  <option>Technology</option>
                  <option>Transporation</option>
                </select>
            </div>
            <h4>Key phrases (policies, practices, compliance)</h4>
            <div class="white-bg col-xs-12 input-holder">

                <span class="col-xs-8">
                    <input type="text" class="form-control light-grey-bg text-search-field" placeholder="&nbsp;&nbsp;&nbsp; Search">
                </span>
                <span class="blue-text execute-search-button">
                enter
                </span>
                <span class="grey-text glyphicon glyphicon-remove-sign"></span>
                <span class="grey-text glyphicon glyphicon-search"></span>
            </div>

        </div>

        <div class="col-xs-3 search-suggestion-holder">
            <div class="col-xs-12 very-light-grey-bg grey-text search-suggestions">
                <h4>See Popular Searches</h4>
                <h4>See Newly Added</h4>
                <h4>See Ratings & Reviews</h4>
            </div>
        </div>
    </div>
</div>




<div class="federal-bonding-citation blue-bg white-text">
The Federal Bonding Program provides Fidelity Bonds that guarantee honesty for job seekers. The bonds cover the first six months of employment. 
</div>

{% endblock %}