{% extends "base.html" %}
{% block container %}
{% load staticfiles %}


<div class="poster search-poster container-fluid">
    <div class="row">
        <div class="col-xs-12 text-left">
            <h2 class="white-text">
                <strong>Searching the Fair Chance Employer Database</strong>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="small-video-holder">
                <div class="circle text-center">
                    <span class="glyphicon glyphicon-play black-text"></span>
                </div>
            </div>
        </div>
        <div class="col-xs-offset-1 col-xs-5 white-text" id="search-instructions">
            <h4><strong>
                Search our employer database for information on employment policies and practices that impact returning citizens.
            </strong></h4>
            <br>
            <p>
                <strong>Basic Search</strong>: find an employer by name or stock ticker.
            </p>
            <p>
                <strong>Advanced search</strong>: find an employer based on specific policies or practices
            </p>
            <br>
            <p>
                Have additional information for our database? Leave a rating or review for an employer.
            </p>
        </div>
    </div>
</div>

<div class="search-controls blue-bg container-fluid white-text">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h3><strong>Start Searching Now</strong></h3>
        </div>
    </div>

    <div class="row search-fields">
    
        <div class="col-xs-4 search-field-set">
            <h4>Employer Name</h4>
            <div class="white-bg col-xs-12 input-holder">

                <span class="col-xs-8">
                    <input type="text" class="form-control light-grey-bg text-search-field" placeholder="&nbsp;&nbsp;&nbsp; Search">
                </span>
                <span class="blue-text execute-search-button">
                enter
                </span>
                <span class="grey-text glyphicon glyphicon-remove-sign"></span>
                <span class="grey-text glyphicon glyphicon-search"></span>
            </div>

            <h4>Your Zip Code</h4>
            <div class="white-bg col-xs-12 input-holder">

                <span class="col-xs-8">
                    <input type="text" class="form-control light-grey-bg text-search-field" placeholder="&nbsp;&nbsp;&nbsp; Search">
                </span>
                <span class="blue-text execute-search-button">
                enter
                </span>
                <span class="grey-text glyphicon glyphicon-remove-sign"></span>
                <span class="grey-text glyphicon glyphicon-search"></span>
            </div>
        </div>


        <div class="col-xs-5 search-field-set">
            <h4>Industry</h4>
            <div class="form-group col-xs-12">
                <select class="input-lg white-bg form-control" id="sel2">
                  <option>Arts & Culture</option>
                  <option>Education</option>
                  <option>Food and Entertainment</option>
                  <option>Healthcare</option>
                  <option>Retail</option>
                  <option>Service</option>
                  <option>Technology</option>
                  <option>Transporation</option>
                </select>
            </div>
            <h4>Key phrases (policies, practices, compliance)</h4>
            <div class="white-bg col-xs-12 input-holder">

                <span class="col-xs-8">
                    <input type="text" class="form-control light-grey-bg text-search-field" placeholder="&nbsp;&nbsp;&nbsp; Search">
                </span>
                <span class="blue-text execute-search-button">
                enter
                </span>
                <span class="grey-text glyphicon glyphicon-remove-sign"></span>
                <span class="grey-text glyphicon glyphicon-search"></span>
            </div>

        </div>

        <div class="col-xs-3 search-suggestion-holder">
            <div class="col-xs-12 very-light-grey-bg grey-text search-suggestions">
                <h4>See Popular Searches</h4>
                <h4>See Newly Added</h4>
                <h4>See Ratings & Reviews</h4>
            </div>
        </div>
    </div>
</div>

<div class="search-results blue-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 grey-text search-results-header">
                <h4 class="light-grey-bg"><span class="black-text">Search Results</span>: Employers who match "complies with ban the box"</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 grey-text search-result">
                <h4 class="very-light-grey-bg black-text">Wash Cycle Laundry <span class="blue-text read-more">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Read more...</span></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 grey-text search-result">
                <h4 class="very-light-grey-bg black-text">Equity Construction DC <span class="blue-text read-more">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Read more...</span></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 grey-text search-result">
                <h4 class="very-light-grey-bg black-text">City of DC Office of Human Rights <span class="blue-text read-more">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Read more...</span></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 grey-text search-result">
                <h4 class="very-light-grey-bg black-text">Google <span class="blue-text read-more">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Read more...</span></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 grey-text search-result">
                <h4 class="very-light-grey-bg black-text">DC Public Libraries <span class="blue-text read-more">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Read more...</span></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 grey-text search-result">
                <h4 class="very-light-grey-bg black-text">Code for Progress <span class="blue-text read-more">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Read more...</span></h4>
            </div>
        </div>
    </div>
</div>

<div class="employer-profile container-fluid">
    <div class="row">
        <h2 class="col-xs-offset-1 col-xs-10">
            <br>
            <strong><span class="black-text">Employer Snapshot and Reviews:</span><span class="grey-text"> Wash Cycle Laundry</span></strong>
        </h2>
    </div>
    <div class="row">
        <div class="col-xs-offset-2 col-xs-4">
            <br><br>
            <h4><strong>Description</strong></h4>
            <p>"Wash Cycle Laundry will pick up your dirty laundry on a bike and bring it back clean tomorrow"</p>
            <br>

            <h4><strong>Industry</strong></h4>
            <p>Household</p>
             <br>

            <h4><strong>DC Contact info</strong></h4>
            <p>Phone: (888) 611-9274</p>
            <p><a>Web: www.washcyclelaundry.com</a></p>
            <p><a>Twitter: @TheWashCyclist</a></p>
            <br>

            <h4><strong>Job inquiries</strong></h4>
            <p>support@washcyclelaundry.com</p>
            <br>
            <div><b>Have an experience with this employer that you'd like to share? Add it here.</b><br><br>
                <div class="form-group">
                    <textarea class="form-control very-light-grey-bg" rows="10" id="comment"></textarea>
                </div>
                <button class="btn btn-primary btn-lg">Submit</button>
            </div>
        </div>
        <div class="col-xs-offset-1 col-xs-4">
            <br>
            <div class="stars yellow-text">&#9733;&#9733;&#9733;&#9733;&#9733;<span class="black-text">&nbsp;92</span></div>
            <div class-"dimensions">
                <h4>Dimensions of re-entry friendliness</h4>
            
                <div>
                    <h4><span class="check blue-text">&#10004;&nbsp;</span><strong>Category 1: Complies with Washington DC's Fair Chance Employment ("ban the box") law</strong></h4>
                </div>
                <br>
                <div>
                    <h4><strong>Category 2: Provides management competency training on practices related to re-entry</strong></h4>
                    <p><span class="check blue-text">&#10004;&nbsp;&nbsp;</span>Has a probation/parole-friendly attendance policy and trains managers on how to use it</p>
                    <p><span class="check blue-text">&#10004;&nbsp;&nbsp;</span>Trains managers on basic vocabulary and practices related to returning citizen employees (e.g. training materials and practices use terms like "returning citizen" or "formerly incarcerated people" rather than "ex-felon" or "ex-offender")</p>
                </div>
                <br>
                <div>
                    <h4><strong>Category 3: Participates in active federal incentive programs</strong></h4>
                    <p>Qualifies for the Work Opportunity Tax Credit</p>
                    <p>Participates in and qualifies for the Work Opportunity Tax Credit</p>
                    <p>Participates in the <a>Federal Bonding Program</a></p>
                </div>
                <br>
                <div>
                    <h4><strong>Category 4: Provides pathways to internal leadership for returning citizens</strong></h4>
                    <p>Grants merit-based rewards and opportunities to all employees, regardless of record</p>
                    <p>Offers leadership training to all employees, regardless of record</p> 
                </div>
                <br>
                <div>
                    <h4><strong>Category 5: Engages in responsible citizenship work around re-entry</strong></h4>
                    <p><span class="check blue-text">&#10004;&nbsp;&nbsp;</span>Actively recruits across from communities over-represented in the criminal justice system</p>
                    <p><span class="check blue-text">&#10004;&nbsp;&nbsp;</span>Engages in supplier diversity to source materials and services from returning-citizen owned businesses</p>
                    <p><span class="check blue-text">&#10004;&nbsp;&nbsp;</span>Uses marketing and advertizing that is friendly to returning citizens</p>
                    <p><span class="check blue-text">&#10004;&nbsp;&nbsp;</span>Publicly advocates for policies that support work pathways for returning citizens</p>
                </div>
                <br>
                <div>
                    <h4><strong>Category 6: Avoids other legally permissable practices that create barriers for returning citizens</strong></h4>
                    <p><span class="check blue-text">&#10004;&nbsp;&nbsp;</span>Only asks about felony or misdemeanor convictions if the nature of the crime is related to the particular job</p>
                    <p><span class="check blue-text">&#10004;&nbsp;&nbsp;</span>Does not check housing history</p>
                    <p><span class="check blue-text">&#10004;&nbsp;&nbsp;</span>Does not review the location and status of an applicant’s primary residence at any time during the application process, unless related to job function.</p>
                    <p><span class="check blue-text">&#10004;&nbsp;&nbsp;</span>Does not disqualify applicants based on housing or location status</p>
                    <p><span class="check blue-text">&#10004;&nbsp;&nbsp;</span>Does not inquire about arrests, charges, etc. that did not result in a conviction</p>
                    <p><span class="check blue-text">&#10004;&nbsp;&nbsp;</span>Disregards felonies or misdemeanors beyond XX years</p>
                    <p><span class="check blue-text">N/A &nbsp;&nbsp;</span>Addresses unfavorable outcome of employment background check with applicant</p>
                    <p><span class="check blue-text">&#10004;&nbsp;&nbsp;</span>Does not dismiss applicant immediately if background check for employment returns with unfavorable results</p>
                    <p><span class="check blue-text">&#10004;&nbsp;&nbsp;</span>Views violent vs. non-violent convictions differently when considering an applicant</p>
                    <p><span class="check blue-text">&#10004;&nbsp;&nbsp;</span>Does not view criminal record as a major barrier to a person attaining a job in general</p>
                    <p>Carries employee dishonesty insurance</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}