/* Global style */

html {
}

body {
    margin: 0px;
    -webkit-font-smoothing: antialiased;
}

.white-text {
    color: #fff;
}


.yellow-text {
    color: #ffdb1d;
}

.yellow-bg {
    background-color: #ffdb1d;
}

.blue-text {
    color: #1660b2;
}

.blue-bg {
    background-color: #1660b2;
}

.black-text {
    color: #444444;
}

.black-bg {
    background-color: #171717;
}

.grey-text {
    color: #999999;
}

.green-text {
    color: #009900;
}

.red-text {
    color: #B80000;
}

.check {
    font-size: 2em;
}

.grey-bg {
    background-color: #999999;
}

.very-light-grey-bg {
    background-color: #eeeeee;
}

.light-grey-bg {
    background-color: #cccccc;
}

.dark-grey-bg {
    background-color: #717171;
}


.light-blue-bg {
    background-color: #4d89c4;
}

.white-bg {
    background-color: #fff;
}

.circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}



.poster {
    padding-top: 110px;
    padding-bottom: 5em;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}



.small-video-holder {
    display: block;
    background-color: rgba(299,299,299,0.65);
    border: 2px solid #777777;
    height: 25em;
    margin-top: 1em;
}

.small-video-holder .circle {
    margin: auto;
    height: 2em;
    width: 2em;
    line-height: 2em;
    font-size: 5em;
    position: relative;
    top: 1.5em;
    border: 3px solid #777777;
}

.small-video-holder .circle span {
    position: relative;
    left: 0.1em;
}




/* Site nav menu */

.menu-panel {
    display: none;
    position: fixed;
    height: 1000px;
    width: 45%;
    top: 0px;
    right: 0;
    background-color: rgba(0,0,0,0.65);
    z-index: 90;
    padding: 120px 1em 0px 1em;
}


.menu-panel h1 {
    font-weight: bold;
    cursor: pointer;
    cursor: hand;
}

.menu-panel h1:hover {
    color: #ffdb1d;
}

.menu-panel a:hover, .bar-button a:hover {
    text-decoration: none;
    color: #ffdb1d;
}





/* Login panel */

.login-panel {
    display: none;
    position: fixed;
    height: 1000px;
    width: 45%;
    top: 0px;
    right: 0;
    background-color: rgba(0,0,0,0.65);
    z-index: 90;
    padding: 120px 1em 0px 1em;
}

.close-login {
    cursor: pointer;
    cursor: hand;
    margin-bottom: 2em;
}

.close-login h3 {
    display: inline-block;
    vertical-align: middle;
}

.close-login-button {
    vertical-align: middle;
    margin-left: 0.1em;
    font-size: 3em;
    line-height: 1em;
}


.close-login-button:hover {
    background-color: rgb(178,153,20);
}


.login-or-register button {
    width: 100%;
    position: relative;
    z-index: 11;
}

#switch-to-register {
    margin-left: -2em;
}

#register-personal-panel-content, #register-business-panel-content, #login-panel-content {
    display: none;
    border: 3px solid #cccccc;
    margin-top: -5px;
    padding: 1em 1em 3em 1em;
    position: relative;
    z-index: 12;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}


#personal-or-business {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 0.75em 0em;
    margin-bottom: 2em;
}

#personal-or-business .circle {
    width: 1em;
    height: 1em;
    margin-right: 1em;
    font-size: 2.5em;
    line-height: 0.5em;
}

#personal-or-business .circle span {
    position: relative;
    left: -0.2em;
}

#personal-or-business h4 {
    display: inline-block;
    vertical-align: middle;
}

.login-panel input {
    margin-bottom: 1em;
    font-size: 1.5em;
}

.register-button {
    font-size: 1.5em;
    padding: 0.5em 2em;
}

#registration-success {
    display: none;
}


/* Header style */

.header-bar {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(255,255,255,0.65);
    height: 100px;
    z-index: 100;
}

.fce-logo, .tagline, #signin-links, #menu-button {
    display: inline-block;
    font-size: 1.5em;
    height: 80px;
    margin-top: 10px;
}

#signin-links, #menu-button {
    cursor: pointer;
    cursor: hand;
}

.tagline {
    padding-left: 1em;
    margin-top: 1em;
}


#menu-button:hover {
    background-color: rgb(178,153,20);
}

#login-link:hover, #register-link:hover {
    color: #ffdb1d;
}

.fce-logo, .tagline {
    line-height: 1em;
    vertical-align: top;
}

.fce-logo img {
    height: 100%;
}

.right-nav {
    display: inline-block;
}

#signin-links {
    vertical-align: middle;
    font-weight: bold;
}


#signin-links div {
    display: inline-block;
}


#menu-button {
    height: 80px;
    width: 80px;
}

.burger-box {
    margin-top: 32%;
}

.burger-bar {
    margin:5px auto;
    height: 5px;
    width: 60%;
    background-color: #444444;
}


/* Footer style */

footer {
    background-color: #999999;
    height: auto;
    padding: 1em;
}

.soc-media-icons {
    padding-right: 2em;
    margin-bottom: 2em;
}

.soc-media-icon {
    display: inline-block;
    width: 50px;
}

.soc-media-icon img {
    width: 100%;
}

#email-signup-button {
    margin-right: 1em;
}





/* Landing page style */

.video-wrapper {
    width: 100%;
}

.video-wrapper video {
    width: 100%;
}

.video-overlay {
    height: 55em;
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.35);
    top: 100px;
    left: 0px;
    z-index: 2;
}

.headlines {
    font-size: 2.5em;
    margin-left: 2%;
    line-height: 1em;
    padding: 0.2em;
    vertical-align: bottom;

}

.headlines h1 {
    font-size: 2.5em;
}


.search-splash {
    width: 100%;
    margin: -5px 0px 0px 0px;
    background-image: url('../img/background-noise-tile.gif');
    position: relative;
    z-index: 3;
}

.search-headline {
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 0.75em;
    margin-top: 0.3em;
}

.search-splash button {
    font-size: 2em;
}

.user-type-image {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 1em;
    overflow: hidden;
    width: 80%;
}

.middle-user {
    width: 100%;
    position: relative;
    top: 5.5em;
}

.user-type-image img {
    width: 100%;
    height: auto;
}

.splash-learn-more {
    position: relative;
    top: 15em;    
    z-index: 5;
    color: #fff;
}

.big-arrow {
    font-size: 6em;
    margin-top: -0.8em;
}


.search-splash-triangle-down {
    width: 0;
    position: relative;
    margin-bottom: -330px;
    border-top: 200px solid #1660b2;
    border-left: 700px solid transparent;
    border-right: 700px solid transparent;
}

.why-fair-chance-holder {
    background-image: url('../img/why-fair-chance.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#why-fair-chance-employment {
    padding: 0 1.5em 1em 1.5em;
    margin-top: 25em;
    margin-bottom: 15em;
    background-color: rgba(0,0,0,0.65);
}

#why-fair-chance-employment h4 {
    line-height: 1.3em;
}

.bar-button {
    text-align: left;
    padding-left: 1em;
    display: inline-block;
    vertical-align: middle;
    width: 20em;
    height: 8em;
    cursor: pointer;
    cursor: hand;
    -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}

#registration-success .bar-button {
    height: 4em;
}


.bar-button:hover {
    padding-left: 6em;
    width: 25em;
}

.bar-button h3 {
    line-height: 1.3em;
}

#registration-success .bar-button h3 {
    line-height: 0.8em;
}


.triangle-right {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: -4px;
    border-top: 4em solid transparent;
    border-left: 2em solid #1660b2;
    border-bottom: 4em solid transparent;
}


#registration-success .triangle-right {
    border-top: 2em solid transparent;
    border-left: 1em solid #1660b2;
    border-bottom: 2em solid transparent;

}


.splash-stats-text {
    padding: 1em;
}

.infographic-left-arrow, .infographic-holder, .infographic-right-arrow {
    display: inline-block;
    vertical-align: middle;
    font-size: 3em;
}


.infographic-holder {
    width: 70%;
    padding-bottom: 2em;
}

.infographic-holder img {
    width: 100%;
}

.stats-holder {
    position: relative;
    top: -5em;
    box-shadow: 10px 10px 2px rgba(178,153,20,0.65);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}



/* Search page style */

.search-poster {
    background-image: url('../img/search-poster.jpg');
}

.search-poster h2 {
    position: relative;
    left: 0.2em;
}

#search-instructions {
    margin-top: 1em;
    padding: 2em;
    height: 25em;
    background-color: rgba(0,0,0,0.65);
}

#search-instructions h4 {
    line-height: 1.25em;
}


.search-field-set {
    border-right: 3px solid #fff;
    margin-bottom: 2em;
}

.input-holder {
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 1.5em;
}

.input-holder .glyphicon {
    font-size: 1.25em;
}


.execute-search-button {
    position: relative;
    top: 0.5em;
    cursor: pointer;
    cursor: hand;
}

.text-search-field {
    position: relative;
    padding-left: 2em;
}

.input-holder .glyphicon-remove-sign {
    position: relative;
    left: -4.5em;
    top: 0.45em;
}

.input-holder .glyphicon-search {
    position: absolute;
    top: 0.9em;
    left: 1.6em;
}

#sel2 {
    margin-bottom:0.55em;
}

.search-suggestion-holder {
    margin-top: 2em;

}

.search-suggestions {
    padding: 0.5em 0em;
    border-radius: 4px;
}

.search-suggestions h4 {
    padding: 0em 1em 0.25em 1em;
    font-weight: bold;
    line-height: 2em;
    border-bottom: white 1px solid;
}

.search-results, .employer-profile {
    display: none;
}

.search-results-header h4, .search-result h4 {
    padding: 0.75em;
    font-weight: bold;    
}

.search-results-header h4 {
    border-bottom: 2px solid #444444;
}

.search-result h4 {
    border-bottom: 2px solid #fff;
    margin-top: -0.6em;
}

.read-more {
    cursor: pointer;
    cursor: hand;
}

.employer-profile {
    padding-bottom: 4em;
}

.stars {
    font-size: 4em;
}


.federal-bonding-citation {
    display: none;
    position: absolute;
    width: 20em;
    padding: 1.5em;
    font-size: 1em;
    box-shadow: 7px 7px rgba(0,0,0,0.1);
    z-index: 200;
}

.user-comment {
    padding: 1.5em;
    border-radius: 4px;
    border: 3px #cccccc solid;
    box-shadow: 3px 3px rgba(0,0,0,0.1);
}

.user-comment h3, .user-comment h5 {
    display: inline-block;
    margin-top: 0em;
}

.user-comment .glyphicon-thumbs-up {
    position: relative;
    top: 0.1em;
    left: 0.2em;
}